/******************************************************************

Mobile

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
  background-color: #eee;
}

.page-header {
  padding: 20px 0;
  background-color: $white;
  margin: 0;

  h1 {
    color: $primary-color-1;
    font-size: 24px;
    font-weight: 600;
    transition: font-size .2s linear;
  }
}

/*********************
LAYOUT & GRID STYLES
*********************/

.page {
  min-height: 800px;
}

/*********************
LINK STYLES
*********************/


/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/


/*********************
HEADER STYLES
*********************/


/*********************
NAVIGATION STYLES
*********************/


/*********************
RESPONSIVE NAV
*********************/


/*********************
MAIN PAGE
*********************/


/*********************
FOOTER STYLES
*********************/
