/******************************************************************

 Animations

******************************************************************/
.page.ng-enter {
  animation: page .3s both ease-in;
}

@keyframes page {
  0% {
    opacity: 0;
    transform: translateX(-400px);
  }
  75% {
    opacity: .1;
  }
  90% {
    opacity: .5;
  }
}
