/******************************************************************

 Single

******************************************************************/

#youtube-player {
  margin-bottom: 60px;

  .description {
    margin: 0;
    padding: 15px 20px;
  }
}
